.forgotmain{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
}

.forgotmain input{
    margin: 20px;
    height: 30px;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    padding-left: 10px;
    border-radius: -10px;
    transition: 0.5s;
    box-shadow: none;
}

.forgotmain input:hover{
    box-shadow: 0 1.5px black;
}

.forgotsub{
    width: 50vw;
    background: white;
    margin: 50px auto;
    padding-top:100px ;
    height: 500px;
}

.otpbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    width: 70%;
    box-shadow: none;
}

#email:hover{
    box-shadow: 0 1.5px black;

}

.otpbtn p{
    border-bottom: 1px solid black;
    /* padding-top: 20px; */
    height: 30px;
    min-width: fit-content;
    cursor: pointer;
}

.otpbtn p:hover{
    box-shadow: 0 1.5px black;
}

.forotp{
    width: 70%;
}

.smtbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smtbtn input{
    width: 70%;
    box-shadow: none;
}
.smtbtn button{
    width: 50%;
    height: 50px;
    border: 0;
    border-bottom: 1px solid black;
}

.smtbtn button:hover{
    box-shadow: 0 1.5px black;
}

.forgotsub form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@media screen and (max-width:800px) {
    .forgotsub{
        width: 90vw;
    }
    
}