.loginside {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    /* background: white; */
    color: white;
    /* width: 70%; */
    height: 50%;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgb(30 215 96); */
    box-shadow: 0 0 20px white;

    background-color: #1f2e43;
    background: radial-gradient(
            circle at 55% 92%,
            #426691 0 12%,
            transparent 12.2%
        ),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(
            circle at 20% max(78%, 350px),
            #263a53 0 7%,
            transparent 7.2%
        ),
        radial-gradient(circle at 0% 0%, #263a53 0 20%, transparent 10%),
        rgba(20, 20, 20);

    transition: 2s;
    
    border-radius: 10px 0 0 10px;
}

.loginside:hover {
    background: radial-gradient(
            circle at 55% 92%,
            #426691 0 12%,
            transparent 12.2%
        ),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(
            circle at 20% max(78%, 350px),
            #263a53 0 7%,
            transparent 7.2%
        ),
        radial-gradient(circle at 0% 0%, #263a53 10% 40%, transparent 10%),
        rgba(20, 20, 20);
}

.noac {
    width: fit-content;
    padding-left: 20px;
    max-width: 50%;
}

.noac button {
    width: 100px;
    height: 50px;
    font-size: large;
    background: none;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.noac button:hover {
    box-shadow: inset 0 50px 0 0 black;
    color: white;
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* width: 50%; */
    float: right;
    /* height: 150%; */
    border-radius: 10px;
    background: rgb(35, 34, 34);
    border: 1px solid black;
    box-shadow: 0 0 20px rgb(30 215 96);
    box-shadow: 0 0 20px white;
}
.login-main hr {
    margin-top: 10px;
    margin-bottom: 100px;
}

.login-main input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-main form {
    text-align: center;
}

.login-main button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: large;
    background: none;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.login-main button:hover {
    box-shadow: inset 0 50px 0 0 black;
    color: white;
}

.noactmobile {
    visibility: hidden;
}

.link {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.link:hover {
    color: white;
}

@media screen and (max-width: 800px) {
    .loginside {
        justify-content: center;
        align-items: flex-start; /*eslint-enable */
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .login-main {
        width: 90%;
        height: 70%;
        margin: 20px;
    }

    .login-main hr {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .noac {
        display: none;
    }

    .noactmobile {
        visibility: visible;
    }
}
