.top-payment{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.main-payment{
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 50vw;
    /* height: 100vh; */
}

.ptm-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid white;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 0 10px white;
    padding-bottom: 50px;
}

.ptm-div img{
    border-radius: 10px 10px 0 0;
    justify-self: flex-start;
    align-self:flex-start;
    width: 300px;
    height: 300px;
}

.enroll-btn{
    margin-top: 20px;
    justify-self: flex-end;
    background: black;
    color:white;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.ptnc{
    margin-top: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.715);
    text-align: center;
}
.promotoken{
    margin-top: 20px;
    color: white;
}

.enroll-btn:hover{
    background-color: white;
    color: black;

}

@media screen and (max-width:800) {
    .main-payment{
        justify-content: start;
        align-items: flex-start;
    }
    
    
}