.container {
    /* background-color: black; */
    display: flex;
    margin: auto;
    width: 70%;
    height: 100vh;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
}

.main-div-sign{
    background: linear-gradient(black,rgb(31, 31, 31));
    background: radial-gradient(rgb(31, 31, 31),black);
}

.container * {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.singup-container-1 {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 80%;
}
.singup-container {
    color: white;
    background: linear-gradient(90deg, rgb(50,50,50), #212529 50%, rgb(50,50,50) 50%);
    display: flex;
    border: 1px solid black;
    width: 85%;
    padding-block: 30px;
    height: fit-content;
    /* justify-content: center; */
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px white, inset 5px 0 10px 2px black;
}
.singup-container h1{
    font-size: xxx-large;
}
.singup-container input {
    align-self: center;
    border-radius: 5px;
    min-height: 30px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 5px;
    width: 70%;
    outline: none;
    background: rgba(0, 0, 0, 0.28);
    color: white;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid white;

}

.toggle-password {
    align-self: flex-end;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -25px;
}

input:focus{
    /* outline: green solid 2px; */
    box-shadow: 0 2px 2px  white;
}

.singup-container label {
    text-align: center;
}

.singup-container button {
    color: white;
    font-size: large;
    background: linear-gradient(90deg, black 50%, black 50%);
    background: linear-gradient(90deg, black, #212529 50%, black 50%);
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
    /* box-shadow: inset 5px 0 0 2px white; */
    text-shadow: 0 0 20px black;
}

.singup-container button:hover {
    box-shadow: inset 0 50px 0 0 rgb(25,25,25);
    transform: scale(1.1);
}

.singup-container button:disabled{
    cursor: not-allowed;
}

.sendOTP{
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 10;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
    height: 0;
    background: rgb(31, 31, 31);
    color: white;
    visibility:hidden;
    box-shadow: 0 0 20px 500px rgba(255, 255, 255, 0.444);
    border: 2px solid black;
    z-index: 5;
    transition: 0.5s;
}

.show{
    display: flex;
    visibility: visible;
    height: 50vh;
}

.sendOTP input{
    width: 15rem;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    font-size: larger;
}

.sendOTP .btnotp{
    background: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.btnotp:disabled{
    cursor: no-drop;
}

.sendOTP .btnotp:hover{
    background: white; 
    color: black;
    box-shadow: inset 50px 0 0 white;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        align-items: flex-start;
    }

    .singup-container-1 {
        display: flex;
        justify-content: none;
        /* align-items: center; */
        margin-top:20px ;
        width: 100%;
        /* height: 70%; */
        min-height: fit-content;

    }
    .singup-container {
        width: 90%;
    }
    .singup-container input{
        width: 85%;
    }
    .sendOTP{
        width: 95vw;
    }
}
